.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.modal-dialog {
  max-width: 1040px;
}

.download {
  background: url('../images/download-background.jpg') center center no-repeat;
  background-size: cover;
}

.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}

@media (max-width: 1000px) {
  .navbar {
    background: var(--bs-dark);
  }
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
}

.testimonials {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto 80px auto;
}
.single-item {
  background: #fff;
  color: #111;
  padding: 15px;
  margin: 50px 15px;
}
.profile {
  margin-bottom: 30px;
  text-align: center;
}
.img-area {
  margin: 0 15px 15px 15px;
}
.img-area img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 7px solid blueviolet;
}
.content {
  font-size: 18px;
}
.content p {
  text-align: justify;
}
.content p span {
  font-size: 48px;
  margin-right: 20px;
  color: blueviolet;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: blueviolet;
}
